.canvas {
    width: 500px;
    height: 500px;
    display: grid;
    border-color: black;
    border-width: 2px;
    border: solid;
}

.cell {
    border-color: black;
    border-width: 2px;
    border: solid;
}